<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use the category attribute to set the tab name -->
    <title><%= category %></title>
    <!-- Link to style.css -->
    <link href = "/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <!-- Use the category attribute to set the header -->
      <h1><%= category %></h1>
    </div>

    <nav>
      <a href="/">Home</a>
      <a href="/level">Breakfast Level Options</a>
      <a href="/levelOne">Level 1</a>
      <a href="/levelTwo">Level 2</a>
      <a href="/levelThree">Level 3</a>
    </nav>




</body>
</html>